/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#info {
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    line-height: 50px;
    /* Vertically center the text there */
    padding-top: 2px;
}

.title {
    color: #666161;
    padding-bottom: 20px;
    text-align: center;
    font-family: Monospace;
    font-size: 375%;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.form-group {
    margin-top: -20px;
}

.test {
    text-align: center;
}

.randombutton {
    margin-top: 15px;
    position: absolute;
    right: 13px;
}

.searchh {
    margin-top: 15px;
}

.lead {
    font-size: 23px;
}

.card {
    margin-top: 20px;
}

@media (max-width: 767px) {
    .test img {
        width: 11%;
    }
}

@media (min-width: 768px) {
    .test img {
        width: 6%;
    }
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
}
